<div class="left">
  <%= hook :wholesale_index_content do %>
    <%= render 'hooks/wholesale_static_content' %>
  <% end %>
</div>
<div class="right">
  <div class="left">  
    <%= hook :wholesale_index_signup do %>
 <h3><%= t('wholesale_apply') %></h3>
<p>FusionGlass Wholesale is ideal for businesses who are looking for beautiful and sellable artistic jewelry. Our products are made available to you at discounted prices, allowing you to stun your customers with our dazzling pieces. </p>
      <%= link_to 'Apply Now!', new_wholesaler_path, :class => 'button' %>
    <% end %>  
  </div>
  <div class="right">  
    <%= hook :wholesale_index_login do %>
      <h3><%= t('wholesale_login') %></h3>
      <%= render 'shared/login' %>
    <% end %>
  </div>
</div>