<div id="fgcMenu">
<ul id="nav">
  
  <li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp;
  <a href="http://www.fusionglassco.com">Visit Studio Website!</a>
</li>
  
  <li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp;
  <a href="/t/category/miscellenia">Miscellania</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/dichroic-clock"><div class="subnav_link">&nbsp;&nbsp;Dichroic Clock&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/t/category/miscellenia/dishes"><div class="subnav_link">&nbsp;&nbsp;Dishes & Plates&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
    <li><a href="/products/dog-collar-charm"><div class="subnav_link">&nbsp;&nbsp;Dog Collar Charm&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
    <li><a href="/products/heart-charm-&-card"><div class="subnav_link">&nbsp;&nbsp;Heart Charm & Card&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
    <li><a href="/products/planetary-alignment"><div class="subnav_link">&nbsp;&nbsp;Planetary Alignment&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; <a href="/t/category/bridal">Bridal</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/wine-charm"><div class="subnav_link">&nbsp;&nbsp;Wine Charms&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/t/category/evollution-series"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Jewelry Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Bridal Party Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>



<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="/t/category/accessories/for-the-bar">For the Bar</a>
  <ul>
    
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/wine-topper"><div class="subnav_link">&nbsp;&nbsp;Wine Toppers&nbsp;&nbsp;</div></a></li><br />
     <%= image_tag "list_divider.png"%>
    <li><a href="/products/wine-charm"><div class="subnav_link">&nbsp;&nbsp;Wine Charms&nbsp;&nbsp;</div></a></li><br />
     <%= image_tag "list_divider.png"%>
    <li><a href="/products/wine-charm-set"><div class="subnav_link">&nbsp;&nbsp;Wine Charm Sets&nbsp;&nbsp;</div></a></li><br />
 <%= image_tag "list_divider.png"%>
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="/t/category/for-men">For Men</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/tie-bar"><div class="subnav_link">&nbsp;&nbsp;Tie Bars&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/cufflink"><div class="subnav_link">&nbsp;&nbsp;Cuff Links&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="/products/letter-opener"><div class="subnav_link">&nbsp;&nbsp;Letter Openers&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="/products/money-clip"><div class="subnav_link">&nbsp;&nbsp;Money Clips&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/wine-topper"><div class="subnav_link">&nbsp;&nbsp;Wine Toppers&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="/products/bookmark"><div class="subnav_link">&nbsp;&nbsp;Bookmarks&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="/t/category/for-women/bracelets">Bracelets & Watches</a>
  <ul>
    
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/dichroic-watch"><div class="subnav_link">&nbsp;&nbsp;Dichroic Watch&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="/products/dichroic-bracelet"><div class="subnav_link">&nbsp;&nbsp;Dichroic Bracelet&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
<a href="/t/category/earrings">Accessories</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/key-ring"><div class="subnav_link">&nbsp;&nbsp;Key Rings&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/belt-buckle"><div class="subnav_link">&nbsp;&nbsp;Belt Buckles&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="/products/dichroic-bracelet"><div class="subnav_link">&nbsp;&nbsp;Dichroic Bracelet&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="/products/dichroic-watch"><div class="subnav_link">&nbsp;&nbsp;Dichroic Watch&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
    <li><a href="/products/adjustable-logo-ring"><div class="subnav_link">&nbsp;&nbsp;Adjustable Logo Ring&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
</ul>
</li>



<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="/t/category/accessories/for-the-office">For the Office</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/letter-opener"><div class="subnav_link">&nbsp;&nbsp;Letter Openers&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Business Card Racks&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="/t/category/jewelry-sets">Jewelry Sets</a>
<ul>
 <%= image_tag "list_divider.png"%>
  <li><a href="/products/necklace-set"><div class="subnav_link">&nbsp;&nbsp;Necklace Sets&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
  <li><a href="/products/necklace-set"><div class="subnav_link">&nbsp;&nbsp;Necklace Sets&nbsp;&nbsp;</div></a></li><br />
<%= image_tag "list_divider.png"%>
</ul>
</li>

<li>
  <a href="/t/category/for-women/pendants">Pendants</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/the-classic-pendant"><div class="subnav_link">&nbsp;&nbsp;The Classic Pendant&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/enchanted-forest-pendant"><div class="subnav_link">&nbsp;&nbsp;Enchanted Forest Pendant&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/anytown-series"><div class="subnav_link">&nbsp;&nbsp;Anytown Series&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/crystal-charms-pendant"><div class="subnav_link">&nbsp;&nbsp;Crystal Charms Pendant&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/products/silhouettes"><div class="subnav_link">&nbsp;&nbsp;Silhouette Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="/t/category/for-women/pendants"><div class="subnav_link">&nbsp;&nbsp;More Specialty Penants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>

</ul>