<div id="fgcMenu">
<ul id="nav">

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; <a href="#">Bridal</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Wine Charms&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Jewelry Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Bridal Party Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Necklaces</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li> <br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Floating Pearls&nbsp;&nbsp;</div></a></li> <br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Beaded Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Necklace Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Pendants</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Large Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Medium Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Small Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Tiny Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Specialty Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Bar</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Wine Charms&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Wine Toppers&nbsp;&nbsp;</div></a></li><br />
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Bracelets & Watches</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Watches&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Jewelry Sets&nbsp;&nbsp;</div></a></li><br />
  </ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
<a href="#">Earrings</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Drop-on Earrings&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Button Earrings&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Dangling Earrings&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Jewelry Sets&nbsp;&nbsp;</div></a></li><br />
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">For Men</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Tie Bars&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Wine Toppers&nbsp;&nbsp;</div></a></li><br />
        <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Cuff Links&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Letter Openers&nbsp;&nbsp;</div></a></li><br />
          <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Money Clips&nbsp;&nbsp;</div></a></li><br />
</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Office</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Letter Openers&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Business Card Racks&nbsp;&nbsp;</div></a></li><br />

</ul>
</li>

<li>&nbsp;&nbsp;    <%= image_tag "vertical_divider2.png"%> &nbsp;&nbsp; 
  <a href="#">Jewelry Sets</a></li>

<li>
  <a href="#">Seasonal</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Seasonal Item 1&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Seasonal Item 2&nbsp;&nbsp;</div></a></li><br />

</ul>
</li>

</ul>