<div id="fgcMenu">
<ul id="nav">

<li><a href="#">Bridal</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Wine Charms&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Jewelry Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Bridal Party Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>
&nbsp;&nbsp;
<li><a href="#">Necklaces</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Evollution Series&nbsp;&nbsp;</div></a></li> <br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Floating Pearls&nbsp;&nbsp;</div></a></li> <br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Beaded Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Necklace Sets&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>
&nbsp;&nbsp;
<li><a href="#">Pendants</a>
  <ul>
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Large Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Medium Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Small Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Tiny Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
    <li><a href="#"><div class="subnav_link">&nbsp;&nbsp;Specialty Pendants&nbsp;&nbsp;</div></a></li><br />
    <%= image_tag "list_divider.png"%>
  </ul>
</li>
</ul>